<h1><%= @patient.name %></h1>

<% @patient.appointments.each do |appointment| %>
    <p><%= appointment.date + " at " + appointment.time %></p>
    <p>Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></p>
<% end %>
